#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.powered-by {
  text-align: right;
  background-image: linear-gradient(to left, #28788F, #68a6af);
}

.logo {
  height: 3em;
  will-change: filter;
  transition: filter 300ms;
}

.intro {
  text-align: center;
}

.california {
  height: 10em;
}

.input-section {
  text-align: right;
}

.input-field {
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  padding: 8px;
  margin: 8px;
  width: 200px;
}

.result {
  text-align: center;
}
